*{
	padding:0;
	margin:0;
}
#header{
	background-image: url(../img/wal.jpg);
	background-size: 100%;
	font-family: 'Lato', Helvetica;
	width: 100%;
	text-align:center;
	padding-top:100px;
	padding-bottom:100px;
	-webkit-filter:grayscale(0.4);
}
#header h1{
	font-family: 'Lato', Helvetica;
	font-weight: 100;
	color: white;
	font-size: 8rem;
}

#twysvn {
	text-transform:uppercase;
	font-family: 'Roboto Condensed','Raleway', sans-serif;
	font-weight: 200;
	color: #111;
	font-size: 2.4rem;
	margin:auto;
	margin-top: 40px;
	padding: 5px;
	text-align: center;
}
a{
	text-decoration: none;
	width: 300px;
	margin: 0 10px;
	padding: 10px 20px;
	position: relative;
	display: inline-block;
	color:black;
<<<<<<< HEAD
}

a::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #069;
	content: '';
	-webkit-transition: top 0.3s;
	-moz-transition: top 0.3s;
	transition: top 0.3s;
}

a::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 2px;
	background: #069;
	content: '';
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}

a:hover::before {
	top: 100%;
	opacity: 1;
}

a:hover::after {
	height: 100%;
} 
footer{
	display:none;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	width: 800px;
	background: #2C3E50;
	margin:auto;
	padding: 40px;
	color: white;
	font-family: 'Lato', Helvetica;
	height:200px;
}
ul{
	list-style: none;
}
@media screen and (min-width: 30em) and (max-width: 40em) {
	#header{
		padding-top:80px;
		padding-bottom:80px;
	}
	#header h1{
		font-size: 6rem;
	}
}
@media screen and (min-width: 10em) and (max-width: 30em) {
	#header{
		padding-top:20px;
		padding-bottom:20px;
	}
	#header h1{
		font-size: 4rem;
	}
	#twysvn a{
		font-size: 1.4rem;
		width: 180px;
	}
}
=======
}

a::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #069;
	content: '';
	-webkit-transition: top 0.3s;
	-moz-transition: top 0.3s;
	transition: top 0.3s;
}

a::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 2px;
	background: #069;
	content: '';
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}

a:hover::before {
	top: 100%;
	opacity: 1;
}

a:hover::after {
	height: 100%;
} 
footer{
	display:none;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	width: 800px;
	background: #2C3E50;
	margin:auto;
	padding: 40px;
	color: white;
	font-family: 'Lato', Helvetica;
	height:200px;
}
ul{
	list-style: none;
}
@media screen and (min-width: 30em) and (max-width: 40em) {
	#header{
		padding-top:80px;
		padding-bottom:80px;
	}
	#header h1{
		font-size: 6rem;
	}
}
@media screen and (min-width: 10em) and (max-width: 30em) {
	#header{
		padding-top:20px;
		padding-bottom:20px;
	}
	#header h1{
		font-size: 4rem;
	}
	#twysvn a{
		font-size: 1.4rem;
		width: 180px;
	}
}
>>>>>>> aafba7e005d04918c29e00d62dda6beac91e5f77
